body {
    background-color: black;
}

#gameboard {
   margin: 0 auto;
}

#gameboard,
#start,
#reset {
    display: block;
}

#score {
    text-align: center;
    font-size: 75px;
    color: white;
}

#avg-score {
    text-align: left;
    font-size: 35px;
    color: white;
}

#start {
    margin: 25px auto 0;
    align-content: center;
}

#reset {
    margin: 25px auto 0;
    align-content: center;
}

#score-history {
    color: white;
   
}